@{
    ViewData["Title"] = "EcoSimGame";
}

<div class="text-center">
    <h1 class="display-4">EconomySimulatorGame</h1>

    <div class="button-container">
        <a class="btn btn-primary btn-lg mx-2" href="/Account/Login">Logowanie</a>
        <a class="btn btn-secondary btn-lg mx-2" href="/Account/Register">Rejestracja</a>
    </div>
</div>