@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">EconomySimulatorGame</h1>

    <p>
        <a href="@Url.Action("Login", "Home")" class="btn btn-primary">Login</a>
        <a href="@Url.Action("Register", "Home")" class="btn btn-secondary">Register</a>
    </p>
</div>