@inherits LayoutComponentBase
@inject ILocalStorageService localStorage
@using Blazored.LocalStorage
@using EcoSimGame.Models;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="user-info">
                <span><strong>@player.Name</strong></span> |
                <span>Pieniądze: <strong>@player.Money</strong></span> |
                <span>Pojemność magazynu: <strong>@player.GetCurrentInventorySize() / @player.WarehouseCapacity</strong></span>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private Player player = new Player();
    private System.Threading.Timer _timer;

    protected override async Task OnInitializedAsync()
    {
        var storedPlayer = await localStorage.GetItemAsync<Player>("player");
        if (storedPlayer != null)
            player = storedPlayer;

        _timer = new System.Threading.Timer(async _ => await UpdateMoney(), null, 0, 100);
    }

    private async Task UpdateMoney()
    {
        var storedPlayer = await localStorage.GetItemAsync<Player>("player");
        if (storedPlayer != null)
        {
            player.Money = storedPlayer.Money;
            InvokeAsync(StateHasChanged);
        }
    }

    public void Dispose() =>  _timer?.Dispose();
}