<div class="header-bar">
    <img src="images/logo.png" alt="EcoSimGame Logo" class="header-logo" />
    <button title="Menu" class="menu-button" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass nav-scroll" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <img src="images/main/biuro.png" class="menu-icon" alt="Home" /> Biuro
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="ProductionMap">
                <img src="images/main/Map.png" class="menu-icon" alt="Produkcja" /> Produkcja
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="Shop">
                <img src="images/main/sklep.png" class="menu-icon" alt="Sklep" /> Sklep
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="Warehouse">
                <img src="images/main/magazyn.png" class="menu-icon" alt="Magazyn" /> Magazyn
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="CraftBuild">
                <img src="images/main/fabryka.png" class="menu-icon" alt="Przetwarzanie" /> Przetwarzanie
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="DevelopmentCenter">
                <img src="images/main/centrumrozwoju.png" class="menu-icon" alt="Centrum Rozwoju" /> Centrum Rozwoju
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;
}
