.sidebar-menu {
    background-image: url('/images/main/menutlo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
    transition: opacity 0.3s;
    position: fixed;
    top: 1rem;
    left: 1rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 8px 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    width: 250px;
    min-height: 400px;
    pointer-events: auto;
}

.header-logo {
    width: 100%;
    height: auto;
    max-height: 120px;
}

.header-bar {
    align-items: center;
    justify-content: space-between;
    height: 125px;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.nav-item {
    font-size: 1rem;
}

.menu-icon {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.nav-button, .nav-link-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.2s, color 0.3s;
    text-shadow: -1px -1px 0 #5c4033, 1px -1px 0 #5c4033, -1px 1px 0 #5c4033, 1px 1px 0 #5c4033;
    color: #f5deb3;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 0.5rem 1rem;
    border: none;
    background: rgba(255, 255, 255, 0.05);
    cursor: pointer;
}

    .nav-button:hover, .nav-link-button:hover {
        background-color: rgba(255, 222, 173, 0.3);
        transform: scale(1.02);
    }
