@page "/Warehouse"
@using Blazored.LocalStorage
@using EcoSimGame.Models;
@inject ILocalStorageService localStorage

<h3>Magazyn</h3>

@if (player.Inventory.GetAllMaterials().Count > 0)
{
    <div>
        @foreach (var item in player.Inventory.GetAllMaterials())
        {
            <p><strong>@item.Key:</strong> @item.Value</p>
        }
    </div>
}
else
{
    <p>Magazyn jest pusty.</p>
}

@code {
    private Player player = new Player();

    protected override async Task OnInitializedAsync()
    {
        var storedPlayer = await localStorage.GetItemAsync<Player>("player");
        if (storedPlayer != null)
        {
            player = storedPlayer;
        }
    }
}